.create-file-form-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Adjust the width as needed */
    margin-left: auto; /* Push the form to the right side */
    margin-right: 20px; /* Add margin to the right to prevent overlapping with the sidenav */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #344767;
    font-weight: 700;
    letter-spacing: 0.0075em;
  }
  
  h2 {
    font-size: 2rem;
    line-height: 1.625;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #344767;
    font-weight: 700;
    letter-spacing: 0.0075em;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px; /* Increased padding for better visual appearance */
    border-radius: 8px; /* Rounded corners for a modern look */
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #344767;
  }
  
  textarea {
    height: 150px; /* Adjusted height for better readability */
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px; /* Increased padding for better visual appearance */
    border: none;
    border-radius: 8px; /* Rounded corners for a modern look */
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    letter-spacing: 0.0075em;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  