/* EditFileForm.css */
.edit-file-form-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Adjust the width as needed */
    margin-left: auto; /* Push the form to the right side */
    margin-right: 20px; /* Center the form */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #344767;
    font-weight: 700;
    letter-spacing: 0.0075em;
  }
  
  h2 {
    font-size: 2rem;
    line-height: 1.625;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #344767;
    font-weight: 700;
    letter-spacing: 0.0075em;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px; /* Adjust the height as needed */
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    letter-spacing: 0.0075em;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  